@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <i>Azure website deploy with VS STUDIO 2022</i>
    <h1>@ViewData["Greeting"]</h1>
    <b>some changes</b>
</div>
